* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    border: 3px solid black;
}

.logo > img {
 width: 200px;
}

.nav-links > ul{
    display: flex;
    margin: 30px 10px;
}

.nav-links > ul > li {
    list-style: none;
    font-size: 30px;
    padding:0  10px;
    margin: 0 5px;
}

.rest-container {
    border: 3px solid salmon;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rest-box {
    border: 2px solid navy;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    margin: 2px 10px;
    
}

.box-food-img > img {
    width: 200px;
    padding: 5px;
}